behaving==3.3.*
ckanapi>=4.7
ckantoolkit>=0.0.4
factory-boy
flake8==7.3.*
mock
parameterized==0.8.1
profanityfilter
progressbar==2.5
pytest-ckan
python-magic==0.4.18
requests
selenium<4.27
six>=1.15.0
xlrd==1.2.*
