{% extends "datarequests/base.html" %}

{% block subtitle %}{{ _('Data access request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data Requests'), named_route='datarequest.index' %}</li>
  <li class="active"><a href="">{{ _('Create data access request') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Data access request') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/new_datarequest_form.html", requested_data=c.requested_data, requesting_organisation_options=c.requesting_organisation_options, data=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, offering=c.offering %}
{% endblock %}

{% block secondary_content_title %}
  {{ _('Data access request') }}
{% endblock %}

{% block secondary_content_additional_info %}
  <p>
    {% trans %}
      To create a data access request, go to the relevant dataset and select 'Request data access', then complete the form providing clear and relevant information in the applicable fields. Adding sufficient detail limits the subsequent follow up activities needed to properly consider the request. Please be aware that the values entered will be visible to only the requestor and the users within the organisation that owns that dataset.
    {% endtrans %}
  </p>
  <p>
    {% trans %}
      More information about the data access request process can be found at <a href="#">[placeholder for link]</a>. If you require assistance in structuring your data access request, please contact the Internal Data Catalogue management team at <a href="mailto:qgcdgdatadiscovery@chde.qld.gov.au">qgcdgdatadiscovery@chde.qld.gov.au</a>.
    {% endtrans %}
  </p>
{% endblock %}

{% block page_header %}{% endblock %}
