{% ckan_extends %}

{% set dataset_search_route = 'dataset.search' %}
{% set org_index_route = 'organization.index' %}
{% set group_index_route = 'group.index' %}
{% set about_route = 'home.about' %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    (dataset_search_route, _('Datasets')),
    (org_index_route, _('Organizations')),
    (group_index_route, _('Groups')),
    ('datarequest.index', _('Data Requests') + h.get_open_datarequests_badge()),
    (about_route, _('About'))
  ) }}
{% endblock %}
